<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened>
    <mat-list>
      <mat-list-item><button mat-raised-button [routerLink]="['/main']" color="basic">
        <mat-icon>home</mat-icon>Inicio</button>
      </mat-list-item>
      <mat-list-item><button mat-raised-button [routerLink]="['cadastrarProfessor']" color="basic">
        <mat-icon>add</mat-icon>Cadastrar</button>
      </mat-list-item>
      <mat-list-item><button mat-raised-button [routerLink]="['listarProfessores']" color="basic">
        <mat-icon>view_list</mat-icon>Listar</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
